<!doctype html>
<html lang="en" ng-app="myApp">

<head>
  <meta charcset="UTF-8">
  <title>Social Experiment</title>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/instafeed.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>-->
</head>
<script type="text/javascript">
    var feed = new Instafeed({
        get: 'user',
        userId: 347827860,
        accessToken: '347827860.467ede5.d15b94c3f5dc476db0d9b6894f117682'
    });
    feed.run();
</script>

<body>
<h1> Fetching Feeds </h1>

<h2>Instagram</h2>
<div id="instafeed"></div>



<!--<div class="main" ng-controller = "MyController">
    <ul class="artistlist">
        <li class="artist cf" ng-repeat="item in artist">
           <h2> {{ artists.name }}</h2>
            <p> {{ artists.about }}</p>
        </li>

    </ul>

</div>
-->

<!-- <div ng-app="myFacebookApp">
     <facebook app-id="<app-id>"></facebook>
     <facebook-like></facebook-like>
 </div> -->

  <!--<div class="main" ng-controller = "MyController">
      <ul class="artistlist">
          <li class="artist cf" ng-repeat="item in artist">
             <h2> {{ artists.name }}</h2>
              <p> {{ artists.about }}</p>
          </li>

      </ul>

  </div>
-->

 <!-- <div ng-app="myFacebookApp">
      <facebook app-id="<app-id>"></facebook>
      <facebook-like></facebook-like>
  </div> -->

<section class="twitter">
    <h2>Twitter</h2>
<div id="tweetlist"></div>
</section>

<script content-type="application/javascript"  src="tweets_json.php?count=10&screen_name=devupJones42"></script>

<script>
    $(document).ready(function(){
        console.log('test doc ready');

       /* function listTweets (data) {
            console.log('tweet');
            var output = '<ul data-role="listview">';
            $.each(data, function (key, val) {
                var text = data[key].text;
                var thumbnail = data[key].user.profile_image_url;
                var name = data[key].user.name;

                output += '<li>';
                output += '<img src="' + thumbnail + '" alt="Photo of' + name + '">';
                output += '<div>' + text + '</div>';
                output += '</li>'
            });
            output += '<ul>';
            $('#tweetlist').html(output);

        }

        var refreshID = setInterval(function() {
            $.getJSON = ('tweets_json.php?count=10', function( data )  {
                console.log( "success" );
                listTweets(data);
                $('#tweetlist').trigger('create');
            });
        }, 500);


*/
        function listTweets(data) {
            console.log(data);
            var output = '<ul data-role="listview" data-theme="a">';

            $.each(data, function(key, val) {
                var text = data[key].text;
                var thumbnail = data[key].user.profile_image_url;
                var name = data[key].user.name;

                text=text.replace(/[A-Za-z]+:\/\/[A-Za-z0-9-_]+\.[A-Za-z0-9-_:%&~\?\/.=]+/g, function(i) {
                    var url=i.link(i);
                    return url;
                });

                text=text.replace(/[@]+[A-Za-z0-9-_]+/g, function(i) {
                    var item = i.replace("@",'');
                    var	url = i.link("http://twitter.com/"+ item);
                    return url;
                });

                text=text.replace(/[#]+[A-Za-z0-9-_]+/g, function(i) {
                    var item = i.replace("#", '%23');
                    var url = i.link("http://search.twitter.com/search?q="+item);
                    return url;
                });

                output += '<li>';
                output += '<img src="' + thumbnail +'" alt="Photo of ' + name + '">';
                output += '<div>' + text + '</div>';
                output += '</li>';
            }); //go through each tweet
            output += '</ul>';
            $('#tweetlist').html(output);
        }

        var refreshID = setInterval(function() {
            $.getJSON('tweets_json.php?count=10&screen_name=devupJones42',function(data) {
                listTweets(data);
                $('#tweetlist').trigger('create');
            });
        }, 50000);


    });

</script>

</body>

</html>
<!--
<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
  <script scr="lib/angular/angular.js"></script>
</head>

<body>

  <div ng-app="">

    <p>Input something in the input box:</p>
    <p>Name: <input type="text" ng-model="name" value="John"></p>
    <p ng-bind="name"></p>

  </div>

</body>
</html>
-->
